<!doctype html>
<html lang="pt-BR" ng-app="IChronoApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>IChrono</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.min.js"></script>
    <!-- BOOTSTRAP -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">IChrono</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
    <div class="container-fluid" ng-controller="IChronoController as chrono">
        <div class="chrono">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <h1 id="title">Tempo decorrido (HH:MM:SS:MS)</h1>
                    <span class="elapsed">{!chrono.hours!}:{!chrono.minutes!}:{!chrono.seconds!}<span id="ms">:{!chrono.miliseconds!}</span></span>
                </div>
            </div>
            <div class="row">
                <button type="button" class="btn btn-lg btn-default {!chrono.buttonControls.fst.state!}" ng-click="chrono.start()">
                    <span class="glyphicon {!chrono.buttonControls.fst.icon!}" aria-hidden="true"></span> {!chrono.buttonControls.fst.label!}</button>
                <button type="button" class="btn btn-lg btn-default {!chrono.buttonControls.snd.state!}" ng-click="chrono.reset()">
                    <span class="glyphicon {!chrono.buttonControls.snd.icon!}" aria-hidden="true"></span> {!chrono.buttonControls.snd.label!}</button>
                <button type="button" class="btn btn-lg btn-default {!chrono.buttonControls.thd.state!}" ng-click="chrono.save()">
                    <span class="glyphicon {!chrono.buttonControls.thd.icon!}" aria-hidden="true"></span> {!chrono.buttonControls.thd.label!}</button>
            </div>
        </div>
        <div class="row" id="times">
                {% for time in alltimes %}
                    <h4><span class="label label-info">{{time.time}}</span></h4>
                {% endfor %}
            </div>
    </div>
    <!-- /.container -->
    <script src="/js/main.js"></script>
</body>

</html>
